body {
  margin: 0;
  border-width: 0;
  box-sizing: border-box;
  height: 100vh;


  font-family: 'calibri';
  font-size: large;

}

main {
  position: relative;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.slide-section {
  position: absolute;
  top: 1.75rem;
  right: 2rem;
  z-index: 1000;

  display: flex;
  flex-direction: column;

  width: 20rem;
  max-height: calc(100% - 5rem);
  overflow-y: auto; 

  padding: 1.25rem;
  padding-top: .25rem;
  border: #faf8f8;
  border: 7px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.877);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);

  font-size: medium;
}

.slide-content {
  flex-grow: 1;
}

.slide-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5rem;
  border-radius: 6px;

  width: 100%;
}

.slide-nav-button {
  transition: all 0.1s;

  padding: 0;
  margin: 1rem;
  width: 4rem;
  height: 3rem;
  border: 2px;
  border-radius: 2px;
  background-color: #faf8f8;
  font-size: 1.5em;
}

.slide-nav-button:hover {
  background-color: #098b86;
  color: #fff;
}

.slide-nav-select {
  min-width: 0;
}
